.bloque-card{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    background: linear-gradient(to top left, #616161 38%, #9E9E9E 100%);
}

.grupo-card{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    max-width: 500px;
    background: linear-gradient(to top left, #BDBDBD 38%, #E0E0E0 100%);
}

.grafica-card{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    background: linear-gradient(to top left, #616161 38%, #9E9E9E 100%);
}
p{
    font-size: 20px;    
}

ul{
list-style: none;
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
}
.card-title{
font-size: 40px;
}

*{
font-family: helvetica;
color: white;
}

.card-buttons {
text-align: center;
}

.edit-button{
background-color: #212121;
display: inline-block;
}

.delete-button{
background-color: red;
display: inline-block;
}

table {
    width: 100%;
  }