<app-nav-bar-asesor></app-nav-bar-asesor>

<div id="busqueda">
	<h1>B&uacute;squeda de alumnos</h1>
	<form>
		<mat-form-field>
			<input matInput placeholder="Matr&iacute;cula" [formControl]="idFormControl" [(ngModel)]="matriculaAlumno"
					[errorStateMatcher]="matcher">
			<mat-hint>Usando A0 o A00</mat-hint>
			<mat-error *ngIf="idFormControl.hasError('id') && !idFormControl.hasError('required')">
			La matr&iacute;cula no es v&aacute;lida. Intenta de nuevo.
			</mat-error>
		</mat-form-field>
	</form>

	<button mat-raised-button (click)="getAlumno()">Buscar</button>

	<p>¿No encuentras al alumno?</p>
	<p>Reg&iacute;stralo como alumno irregular.</p>

	<button mat-raised-button>Registrar alumno irregular</button>
</div>

<div id="resultado">
	<h1>{{nombreAlumno}}</h1>

	<h3>Puede votar para:</h3>

<div *ngFor="let eleccion of arrEleccionesAVotar">
	<div>
		<div>
			<h3>{{eleccion.eleccion}}</h3>
			<button mat-raised-button [ngClass]="{'button-voted': eleccion.isVoted, 'button-notVoted': !eleccion.isVoted}" (click)="markAsVoted(eleccion.eleccion,eleccion.bloque)">Registrar voto</button>
		</div>
	</div>
</div>
<!-- <div *ngFor="let eleccion of arrEleccionesAVotar">
	<ng-template [ngIf]="eleccion.isVoted === true">
		<div>
			<h3>{{eleccion.eleccion}}</h3>
			<button mat-raised-button [ngClass]="['bntStyle']">Votado</button>
		</div>
	</ng-template>
</div> -->



	<!-- <div *ngIf="hasVoted === false; else didVoteButton">
		<div *ngFor="let eleccion of arrEleccionesAVotar">
			<h3>{{eleccion.eleccion}}</h3>
			<button mat-raised-button (click)="markAsVoted(eleccion.eleccion,eleccion.bloque)">Registrar voto</button>
		</div>
	</div>

	<ng-template #didVoteButton>
		<div *ngFor="let eleccion of arrEleccionesAVotar">
			<h3>{{eleccion.eleccion}}</h3>
			<button mat-raised-button disabled style="background:green; color:white;">Votado</button>
		</div>
	</ng-template> -->

	<!-- <div>
		<h3>Comité Ejecutivo</h3>
		<button mat-raised-button>Registrar voto</button>
	</div> -->

</div>
