
<strong>Agregar bloque</strong>
<br>
<mat-form-field class="full-width">
  <input matInput placeholder="Nombre de bloque" value="" [(ngModel)]="nombre">
</mat-form-field>

<mat-form-field class="full-width">
  <input matInput placeholder="Tipo (ex: csa)" value="" [(ngModel)]="type">
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="startDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="Choose a date"[(ngModel)]="finishDate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="agregarbloque()">Agregar</button>
