<mat-grid-list cols="3" rowHeight="600px">
  <mat-grid-tile>
    <mat-card class="bloque-card">
      <mat-card-header>
        <mat-card-title class="card-title" >Bloques</mat-card-title>
        <mat-card-subtitle>Bloques activos a eleccion</mat-card-subtitle>
      </mat-card-header>
              <table mat-table [dataSource]="bloques" class="mat-elevation-z8">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> <b style="color:black">Nombre</b> </th>
                    <td mat-cell *matCellDef="let bloque"> <p style="color:black">{{bloque.name}}</p> </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBloques"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBloques;"(click)="selectRow(row)"></tr>
                </table>
      <mat-card-actions class="card-buttons">
        <button mat-raised-button class="edit-button" (click)="openDialog()">Añadir bloque</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="grupo-card">
      <mat-card-header>
        <mat-card-title class="card-title" >Grupos</mat-card-title>
        <mat-card-subtitle>Grupos en el bloque: {{selectedBloque}}</mat-card-subtitle>
      </mat-card-header>
      <table mat-table [dataSource]="elecciones" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> <b style="color:black">Nombre</b> </th>
            <td mat-cell *matCellDef="let eleccion"> <p style="color:black">{{eleccion.name}}</p> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsElecciones"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsElecciones;"(click)="selectRow(row)"></tr>
        </table>
      <mat-card-actions class="card-buttons">
        <button mat-raised-button class="edit-button" (click)="openDialogGrupos()">Agregar Grupos</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-card class="grafica-card">
      <mat-card-header>
        <mat-card-title class="card-title" >Informacion Grupo</mat-card-title>
        <mat-card-subtitle>Carreras del grupo</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="https://banner2.kisspng.com/20180425/xsq/kisspng-pie-chart-computer-icons-statistics-circle-5ae07202e9d663.5155628415246586909578.jpg" style="display: block" height="100%" width="100%" alt="imagen">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
