mat-card {
    max-width: 250px;
    text-align:  center;
    margin: auto;   
}

mat-card-title {
    text-align: center;
}

div[ng-view]{
    height: 100%;
}

div {
    height: 100%;
    width: 100%;
    background-color: darkgrey;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

html {
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
}
