.csa-card{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to top left, #702082 38%, #993399 100%);
}

.care-card{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to top left, #ff671f 18%, #ff9900 78%);
}

.ejecutivo-card{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom right, #41b6e6 38%, #3399ff 100%);
}

p{
  font-size: 20px;
}

h1{
  color: black;
  font-family: helvetica;
}

ul{
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.card-title{
  font-size: 40px;
}

*{
  font-family: helvetica;
  color: white;
}

.card-buttons {
  text-align: center;
}

.edit-button{
  background-color: #0d98ba;
  display: inline-block;
}

.delete-button{
  background-color: red;
  display: inline-block;
}
