<mat-card class="eleccion-card">
  <mat-card-header>
    <mat-card-title class="card-title" >Bloques</mat-card-title>
    <mat-card-subtitle>Bloques activas a eleccion</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Grupos a elección</p>
      <ul>
        <li>Ing. en Tecno. Computacionales<li>
        <li>Lic. en Economía<li>
        <li>Arquitecto</li>
        <li>Ing. Industrial y de Sistemas</li>
        <li>Lic. en Comunicación y Med Dig</li>
        <li>Lic. en Relaciones Internacion</li>
        <li>Ing. en Innovación y Desarrollo</li>
        <li>Lic. en Comunicación y Med Dig</li>
      </ul>
  </mat-card-content>
  <mat-card-actions class="card-buttons">
    <button mat-raised-button class="edit-button">Administrar</button>
  </mat-card-actions>
</mat-card>
